<!DOCTYPE html>

<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>Qoo10への接続</title>
    <link rel="stylesheet" href="../CSS/user.css"></link>
  <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

<body>

  <!-- ====ヘッダー（ナビゲーションバー==== -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="./home.html">Navbar</a>
          <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="./account.html">アカウント登録</a></li>
                    <li>
                    <li class="nav-item">
                    <a class="nav-link" href="./iteminsert.html">商品登録</a></li>
                    <li class="nav-item">
                    <a class="nav-link "href="./qoo10Conflg.html">ショップ設定</a></li>

                  <li class="nav-item">
                      <a class="nav-link" href="./login.html">
                      <i class="far fa-user"></i></a>
                </li>
            </ul>
          </div>
      </nav>


<!--接続状態-->
<div class="box">
  <font size="5">接続状態:</font><p th:text="${connection}"><font size="5"></font></p>
    <br>
    <button type="submit"name="connection"  class="btn-gradient-3d-simple">接続状態の変更</button>
  <br>
</div>

<!-- Qoo10の販売者入力 -->
<form method="POST" th:action="@{/account}"name="key"th:object="${form}">
<div class="form">
<div class="form-wrapper">
<font size="5">Qoo10の販売者キー入力</font>
<div class="form-item">
<label for="email"></label>
<input type="email" name="email" th:field="*{qooId}"required="required" placeholder="Q0010の販売者ID"></input>
</div>
<div class="form-item">
  <label for="APIキー"></label>
  <input type="key" name="key" th:field="*{apiKey}"required="required" placeholder="APIキー"></input>
</div>
<div class="form-item">
<label for="password"></label>
<input type="password" name="password" th:field="*{qooPwd}"required="required" placeholder="パスワード"></input>
</div>
<button type="submit" class="btn-gradient-3d-simple">登録</button>
</div>
</div>
</form>


     </body>


       </html>




         <!-- Optional JavaScript -->
         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
